@media screen and (min-width: 768px) {


    .mob-menu {
        display: none;
    }


    /* --------------HEADER------------- */

    .container.main-block {
        width: 736px;
    }

    .main-nav {
        margin-right: 0px;
        display: flex;
        align-items: center;

    }

    .second-nav {
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: end;
        padding-bottom: 10px;
    }

    .menu-nav {
        display: flex;
        margin-left: 123px;

    }

    .mail,
    .phone {
        padding: 0px 0px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.04em;
    }

    .menu-mob {
        display: none;
    }



    /* ------------------------------------ */

    .features {
        width: 736px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
        column-gap: 24px;
        row-gap: 72px;

    }

    .features-item {
        max-width: 356px;
    }

    .features-item>div {
        display: none;
    }

    .title {
        text-align: start;
    }

    .information {
        text-align: start;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
    }

    .our-work {
        display: none;
    }

    .container {
        padding: 0px 12px;
        margin: 0 auto;
        width: 576px;
    }

    .container-hero,
    .container-footer,
    .container-button,
    .container-comp {
        width: 576px;

        margin: 0 auto;
    }

    .container-mobile {

        margin: 0 auto;
        width: 736px;
    }

    .description-list {
        width: 552px;
        flex-wrap: wrap;
        justify-content: normal;
        flex-direction: row;
        align-items: start;

        column-gap: 24px;
        row-gap: 64px;
    }

    .company-list {

        max-width: 552px;

        column-gap: 16px;
        row-gap: 72px;
        list-style: none;
    }

    .container-footer {
        display: flex;
        width: 576px;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: start;

    }

    .footer-hero>h3 {
        text-align: start;
        margin-top: 0px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        color: #FFFFFF;
        letter-spacing: 0.02em;
    }

    .footer-hero {
        height: 112px;
        text-align: center;
        margin-left: 24px;
    }

    .search-footer {
        width: 100%;
        margin-left: 0px;
    }

    .search-footer>form {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .search-footer>h3 {
        margin-top: 72px;
        margin-bottom: 16px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        letter-spacing: 0.02em;

        color: #FFFFFF;
    }

    .input-footer {
        width: 264px;
    }

    .subscribe {
        margin-top: 0px;
        margin-left: 23px;
    }

    /* -----------MAIN-HERO-------------- */


    .hero-section {
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/tab-bg.jpg);

        padding: 112px 0px 108px;

    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-section {
            max-width: 768px;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/tab-bg-2x.jpg);
        }
    }

    .container-hero {}

    .hero {

        margin-bottom: 40px;
        text-align: center;
        font-weight: 700;
        font-size: 56px;
        line-height: 60px;


        text-align: center;
        letter-spacing: 0.02em color #FFFFFF;
    }

    /* -----------MAIN-PORTFOLIO-------------- */

    .body-nav {
        width: 736px;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 64px;
    }

    .container-project {
        max-width: 736px;
        padding: 0px 0px;
        margin: 0 auto;
    }

    .list-project {
        width: 736px;
        margin: 0 auto;
        justify-content: start;
        padding-bottom: 96px;
    }

    .main-section-port {
        margin-top: 64px;
        padding-top: 0px;
        margin-top: 48px;
        padding: 0px 16px;
    }

    .img {
        max-width: 356px;
    }

    .project-port {
        width: 356px;
    }

    .item-project {
        max-width: 356px;
    }

    .project-block-top-text {
        max-width: 356px;
    }

    .review-prot {
        max-width: 356px;
    }



    /* -----------OVERLAY-------------- */
    .overlay {
        padding-top: 96px;
        display: inline-block;
    }
}